.successful-message{
	margin: 5px 0 15px;
	background-color: #FFFFE0;
	border-color: #E6DB55;
	padding: 0 0.6em;
	border-radius: 3px 3px 3px 3px;
	border-style: solid;
	border-width: 1px;
	color: #333333;
}


.error-message{
	margin: 5px 0 15px;
	background-color: #FFADAD;
	border-color: #6E1212;
	padding: 0 0.6em;
	border-radius: 3px 3px 3px 3px;
	border-style: solid;
	border-width: 1px;
	color: #333333;
}